{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}


<tbody>
  {% for linea_pedido in lineas_pedido %}
  <tr>
      <td>{{ linea_pedido.pedido.id }}</td>
      <td>{{ linea_pedido.pedido.user.username }}</td>
      <td>{{ linea_pedido.fecha }}</td>
      <td><a href="{% url 'detallepedido' linea_pedido.pedido.id %}">Detalle</a></td>
      {% if es_admin %}
      <td>
          <form method="post" action="{% url 'cambiar_estado_pedido' linea_pedido.pedido.id %}">
              {% csrf_token %}
              <select name="estado">
                  <option value="pendiente" {% if linea_pedido.pedido.estado == 'pendiente' %}selected{% endif %}>Pendiente</option>
                  <option value="en_proceso" {% if linea_pedido.pedido.estado == 'en_proceso' %}selected{% endif %}>En Proceso</option>
                  <option value="completado" {% if linea_pedido.pedido.estado == 'completado' %}selected{% endif %}>Completado</option>
                  <option value="cancelado" {% if linea_pedido.pedido.estado == 'cancelado' %}selected{% endif %}>Cancelado</option>
              </select>
              <button type="submit">Cambiar Estado</button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
{% endblock %}