{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle">Tu proxima obseción</p>
							<h1>Ventas de Plantas</h1>
							<div class="hero-btns">
								<a href="{% url 'shop' %}"  class="boxed-btn">Catalogo</a>
								<a href="{% url 'contact' %}" class="bordered-btn">Contactanos</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">

			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Envio gratis</h3>
							<p>En compras por sobre $30000 pesos</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>Soporte 24/7</h3>
							<p>Obten apoyo todos los dias</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Rembolso</h3>
							<p>Obten tu rembolso dentro de 3 dias!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->
	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Nuestros</span> Productos</h3>
						<p>Calidad garantizada</p>
					</div>
				</div>
			</div>
				{% load humanize %}
			<div class="row">
				{% for p in productos %}
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							{% if p.imagen %}
							<a href="{% url 'singleproduct' %}"><img src="{{ p.imagen.url }}" alt=""></a>
							{% endif %}
						</div>
						<h3>{{ p.nombre | capfirst}}</h3>
						<p class="product-price"><span>Por Unidad</span> ${{ p.precio | intcomma }} </p>
						<a href="{% url 'Add_index' p.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>
					</div>
				</div>
			{% endfor %}
			</div>

		</div>
	</div>
	
	<!-- end product section -->

	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br> de descuento
                                </span>
                            </div>
                        </div>
                    	<img src="{% static 'core/img/a.jpg' %}" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3><span class="orange-text">Oferta</span> del mes</h3>
                    <h4>Planta 1</h4>
                    <div class="text">Esta planta tiene un 30% de descuento por este mes</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">03</span>Dias</div></div> <div class="counter-column"><div class="inner"><span class="count">02</span>Horas</div></div>  <div class="counter-column"><div class="inner"><span class="count">50</span>Minutos</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="{% url 'cart' %}" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>
				</div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'core/img/avaters/avatar2.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Sebastian Poblete <span>Dueño local</span></h3>
								<p class="testimonial-body">
									"Nuestros productos son los mejores y todos certificados para mostrar mejor calidad "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'core/img/avaters/avatar1.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="{% static 'core/img/avaters/avatar3.png' %}" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Desde 2023</p>
						<h2>Somos <span class="orange-text">La Junta</span></h2>
						<p>La Junta es un proyecto que busca dar a conocer los productos de diferentes pymes de un pequeño sector dentro de Chile</p>
						<p>A dia de hoy, La Junta es un exponente en calidad en la venta de plantas y adornos Florales</p>
						<a href="{% url 'about' %}" class="boxed-btn mt-4">Conocer más</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->



	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'core/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'core/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

{% endblock %}
