{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Producto de primera calidad</p>
					<h1>Tienda</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
<!-- end breadcrumb section -->
{% load humanize %}
<div class="row">
	{% for aux in entity %}
	{% if aux.precio > 0 %}

	<div class="col-lg-4 col-md-6 text-center">
		<div class="single-product-item">
			<div class="product-image">
				{% if aux.imagen %}
				<a href="{% url 'singleproduct' aux.id %}"><img src="{{ aux.imagen.url }}" alt=""></a>
				{% endif %}
			</div>
			<h3>{{ aux.nombre | capfirst}}</h3>
			
			{% if user.is_authenticated %}

			<div class="pricing">
				<p class="price"><span class="mr-2 price-dc" ><del> {{ aux.precio }} </del> </span>{{1700}}</p>
			</div>	
			{% else %}
			<div class="pricing">
				<p class="price"><span class="mr-2 price-dc" > {{ aux.precio }}  </span></p>
			</div>	
			{% endif %}

			{% if admin.is_authenticated %}

			{% if aux.stock > 0 %}
			<span>Stock: {{ aux.stock }}</span>
			{% else %}
			<span>No hay stock </span>
			<a href="{% url 'carro:cart_add' aux.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>

			{% endif %}
<hr>
			{% if perms.core.change_producto %}
			<a href="{% url 'modificar_productos' aux.id %}" class="btn btn-info btn-sm">Modificar</a>
			{% endif %}
			{% if perms.core.delete_producto %}

			 <a href="#" onclick="eliminar_Productos({{ aux.id }})" class="btn btn-danger btn-sm">Eliminar</a>
<hr>
			 {% endif %}
			 <a href="{% url 'carro:cart_add' aux.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>

			{% else %}
			
			{% if aux.stock > 0 %}
			<span>Stock: {{ aux.stock }}</span>
			<hr>
			<a href="{% url 'carro:cart_add' aux.id %}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Agregar al carrito</a>

			{% else %}
			<span>No hay stock </span>

			{% endif %}

			{% endif %}

			


		</div>
	</div>
	{% endif %}

{% endfor %}
</div>
<!-- end products -->
		<div>{% include 'core/paginator.html' %}</div>

<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="{% static 'core/img/company-logos/1.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'core/img/company-logos/2.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'core/img/company-logos/3.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'core/img/company-logos/4.png' %}" alt="">
					</div>
					<div class="single-logo-item">
						<img src="{% static 'core/img/company-logos/5.png' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->

{% endblock %}